@model _2_MVCCoreApp.Models.CategoryViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@*<h3>@(((string)ViewData["categoryname"]).ToUpper())</h3>
<h3>@ViewBag.brandname.ToUpper()</h3>

<h3>Viewdata using Viewbag : @ViewBag.categoryname</h3>
<h3>Viewbag using Viewdata: @ViewData["brandname"]</h3>

<h3>Cookie Data</h3>
<h4>Cat Name : @ViewBag.catName</h4>
<h4>Brand Name : @ViewBag.brandName</h4>*@

<h3>Tempdata Value</h3>
<h4>Customer Name : @ViewBag.customername</h4>

<h4>Category Id : @ViewBag.Category.CategoryId</h4>
<h4>Category Name : @ViewBag.Category.CategoryName</h4>
<h4>Category Brand Name : @ViewBag.Category.BrandName</h4>

<h3>Session Data</h3>
<h4>Site Name : @ViewBag.SiteName</h4>

<h4>All Categories</h4>
<ul>
    @foreach (var cat in ViewBag.categories)
    {
        <li>Id : @cat.CategoryId Name : @cat.CategoryName Brand : @cat.BrandName</li>
    }
</ul>

<div>
    <h4>CategoryViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
